## Importing Libraries

In this Jupyter notebook, we begin by importing two popular Python libraries - `numpy` and `pandas`. These libraries are commonly used for data analysis and manipulation tasks, such as working with large data sets, performing mathematical operations, and creating data visualizations. By importing these libraries, we gain access to a range of powerful tools and functions that we can use to explore, analyze, and visualize our data.

In [1]:
import numpy as np
import pandas as pd

## Creating a DataFrame

Once we have imported our libraries, we can begin working with our data. In this example, we define a dictionary called data that contains temperature and wind data, and we create a Pandas DataFrame using this dictionary.We will use the `numpy` and `pandas` libraries to help us with data analysis and manipulation tasks later on in the notebook.

The `data` dictionary has two keys, 'temperature' and 'wind', which correspond to lists of numerical values for each variable. These values represent temperature measurements in degrees Fahrenheit and wind speeds in miles per hour taken over a period of time. 

With this DataFrame, we can perform a range of data manipulation tasks, such as sorting, filtering, and aggregating our data.

In [2]:
data = {
    'temperature': [90, 85, 82, 91], 
    'wind': [21, 26, 23, 20]
}

data_with_index = pd.DataFrame(data, index = ['wk33', 'wk34', 'wk35', 'wk36'])

## Summarizing Data with Pandas

Once we have our data in a Pandas DataFrame, we can easily generate summary statistics to help us understand our data. 

In this example, we use the `describe` function to generate summary statistics for our `data_with_index` DataFrame, including the count, mean, standard deviation, minimum, maximum, and quartile values.

Using functions like describe can help us quickly gain insights into our data, such as understanding the distribution of our data or identifying potential outliers

In [3]:
data_with_index.describe()

       temperature       wind
count     4.000000   4.000000
mean     87.000000  22.500000
std       4.242641   2.645751
min      82.000000  20.000000
25%      84.250000  20.750000
50%      87.500000  22.000000
75%      90.250000  23.750000
max      91.000000  26.000000

## Applying Functions to a DataFrame

Once we have our data in a DataFrame, we can apply various functions to it. For example, we can use the apply function with the numpy.cumsum function to calculate the cumulative sum of our data over time.

In [4]:
data_with_index.apply(np.cumsum)

      temperature  wind
wk33           90    21
wk34          175    47
wk35          257    70
wk36          348    90

We can also calculate other descriptive statistics, such as the mean of our data.

In [5]:
data_with_index.mean()

temperature    87.0
wind           22.5
dtype: float64

## Filtering a DataFrame

We can use the query function to filter our DataFrame based on specific conditions. In this example, we select all rows where the temperature is greater than or equal to 90.

In [6]:
data_with_index.query('temperature >= 90')

      temperature  wind
wk33           90    21
wk36           91    20

We can also apply more complex filters using logical operators, such as selecting rows where both the temperature is greater than or equal to 90 and the wind speed is greater than 20.

In [7]:
data_with_index[(data_with_index.temperature >= 90) & (data_with_index.wind > 20)]

      temperature  wind
wk33           90    21

## Exporting Data

Finally, we can use Pandas to export our data to other file formats, such as Excel.

In this example, we are using the pip package manager to install the openpyxl library. This library allows us to read and write data to Excel files, making it a useful tool for data analysis and manipulation.

To import the openpyxl library in our Python code, we would simply include the following statement at the beginning of our notebook or script:

In [8]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/python/3.10.4/lib/python3.10/site-packages (3.1.1)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.10.4/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

With this library installed and imported, we can now take advantage of its functions and capabilities to enhance our data analysis workflows. 

In this example, we export our DataFrame to an Excel file called myExcel.xlsx.

In [9]:
data_with_index.to_excel('myExcel.xlsx', sheet_name='Pandas', index_label='Week')

We can then read this file back into Python using the read_excel function.

In [10]:
pd.read_excel('myExcel.xlsx', 'Pandas', na_values=['NA'])

   Week  temperature  wind
0  wk33           90    21
1  wk34           85    26
2  wk35           82    23
3  wk36           91    20

By using Jupyter and these powerful libraries, we can quickly and easily manipulate and analyze data, helping us to gain insights and make better decisions.